/* JavaFX CSS - Leave this comment until you have at least create one rule which uses -fx-Property */
.root{
    -fx-font-size: 13px;
    -fx-text-fill:black;
    -fx-font-family: "Helvetica";
    -fx-base: rgb(255, 255, 255);
    -fx-background: rgb(235, 235, 235);
}
.splash{
	-fx-background: white;
}
.label{
	-fx-font-size: 12px;
	-fx-font-family: "Helvetica";
}
.headerLabel {
	-fx-font-size: 39px;
	-fx-font-family: "Helvetica";
	-fx-background-color: #add8e6;
}
.subheaderLabel{
	-fx-font-size: 24px;
	-fx-font-family: "Arial Rounded MT Bold";
}
.statusLabel{
	-fx-font-size: 14px;
	-fx-text-fill: #0d0d0d;
	-fx-font-family: "Arial Bold";
}
.TextField{
	-fx-prompt-text-fill: rgba(255, 0, 0, 0.5);
}
.TableView .column-header .label {
	-fx-font-size: 13px;
	-fx-text-fill:black;
	-fx-font-family: "Helvetica";	
}
.Button{
	-fx-font-size: 13px;
	-fx-text-fill:black;
	-fx-font-family: "Helvetica";
}
.submitButton{
	-fx-font-size: 13px;
	-fx-text-fill:black;
	-fx-font-family: "Helvetica";
}
 .dialog-pane{
	-fx-border-color:black;
	-fx-border-width:2.0px;
 }

/**Costumization of The Bar where the buttons are located**/
.dialog-pane > .button-bar > .container {
	-fx-background-color:black;
	-fx-font-family: "Helvetica";
}

.dialog-pane > .content.label {
	-fx-padding: 0.5em 0.5em 0.5em 0.5em;
	-fx-background-color: yellow;
	-fx-text-fill:black;
	-fx-font-size:15.0px;
	-fx-font-family: "Helvetica";
}

/**Costumization of DialogPane Header**/
.dialog-pane:header .header-panel {
	-fx-background-color: black;
	-fx-font-family: "Helvetica";
}

.dialog-pane:header .header-panel .label{
	-fx-background-color: yellow;
	-fx-background-radius:10px;
	-fx-text-fill:black;
	-fx-font-size:15.0px;
	-fx-font-family: "Helvetica";
}


/**Costumization of Buttons**/
.dialog-pane .button{
	-fx-background-color:black;
	-fx-text-fill:white;
	-fx-wrap-text: true;
	-fx-effect: dropshadow( three-pass-box, yellow, 10.0, 0.0, 0.0, 0.0);
	-fx-cursor:hand;
	-fx-font-family: "Helvetica";
 }

.dialog-pane .button:hover{     
	-fx-background-color:white;
	-fx-text-fill:black;
	-fx-font-weight:bold; 
 }
 
